In [1]:
import pandas as pd

In [2]:
PyBankCSV = "Resources/budget_data.csv"

In [3]:
PyBank_df = pd.read_csv(PyBankCSV, encoding="utf8")

In [4]:
PyBank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [5]:
PyBank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
Date             86 non-null object
Profit/Losses    86 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB